 .head{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
 }
 /* Container for the carousel */
 .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    border-radius: 70px;
    block-size: 550px;
    border-color:black;
    border-style:double;
    /* ensures it fits the screen width */
  }

  /* Flex container for the slides */
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  /* Each image takes full width */
  .slides img {
    width: 100%;
    height: 10%;
    display: block;
  }

  .card-header{
    block-size: 80px;
    border: 400px;
  }